<nav class="navbar navbar-expand navbar-light bg-custom topbar mb-4 static-top shadow">
  <button id="sidebarToggleTop"
    class="btn btn-link rounded-circle mr-3 d-flex justify-content-center align-items-center" type="button"
    (click)="toggleDropdown()"> <!-- Evitamos href y usamos el (click) para controlar el toggle -->
    <i class="fa fa-bars"></i>
  </button>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown no-arrow">

      <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="userDropdown" role="button"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toggleDropdown()">
        <!-- Aquí también cambiamos href por (click) -->
        <span class="mr-2 d-none d-lg-inline text-white small">{{ admin?.name }}</span>
        <img *ngIf="user?.imageUrl !== null; else defaultImage" [src]="user?.imageUrl"
          class="img-profile rounded-circle" alt="Profile Picture" id="profileImage" width="40" height="40" />
        <ng-template #defaultImage>
          <img [src]="noAdminImageUrl" class="img-profile rounded-circle" alt="Profile Picture" id="profileImage"
            width="40" height="40" />
        </ng-template>
      </a>

      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" [ngClass]="{'show': isDropdownVisible}"
        aria-labelledby="userDropdown">

        <a class="dropdown-item" [routerLink]="['/admin/profile']">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          Perfil
        </a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" routerLink="/index" (click)="onLogout($event)">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Cerrar sesión
        </a>

      </div>

    </li>
  </ul>
</nav>
