{{> partialsAdmin/header }}

<!-- Begin Page Content -->
<script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    var ctx1 = document.getElementById('topProductsChart').getContext('2d');

    new Chart(ctx1, {
      type: 'bar',
      data: {
        labels: `{{ productNames }}`.replace("[", "").replace("]", "").split(","),
        datasets: [{
          label: 'Ventas',
          data: `{{ productSales }}`.replace("[", "").replace("]", "").split(","),
          backgroundColor: 'rgba(54, 162, 235, 0.6)',
          borderColor: 'rgba(54, 162, 235, 1)',
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        scales: { y: { beginAtZero: true } }
      }
    });

    var ctx2 = document.getElementById('weeklyOrdersChart').getContext('2d');

    new Chart(ctx2, {
      type: 'line',
      data: {
        labels: `{{ orderDates }}`.replace("[", "").replace("]", "").split(","),
        datasets: [{
          label: 'Pedidos',
          data: `{{ orderCounts }}`.replace("[", "").replace("]", "").split(","),
          fill: false,
          borderColor: 'rgba(255, 99, 132, 1)',
          tension: 0.1
        }]
      },
      options: {
        responsive: true,
        scales: { y: { beginAtZero: true } }
      }
    });

  });
</script>


<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ps ps--active-x ps--active-y">
  <!-- End Navbar -->
  <div class="container-fluid py-2">
    <div class="row">
      <div class="ms-3 col-12">
        <h3 class="mb-0 h4 font-weight-bolder">Panel de control</h3>
        <p class="mb-4">
          Consulta información sobre los pedidos, productos y usuarios.
        </p>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card border-left-primary">
          <div class="card-header p-2 ps-3">
            <div class="d-flex justify-content-between">
              <div>
                <p class="text-sm mb-0">Ventas de hoy</p>
                <h4 class="mb-0">{{ todaySales }} EUR</h4>
              </div>
              <div class="col-auto d-flex align-items-center">
                <i class="fas fa-coins fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card border-left-success">
          <div class="card-header p-2 ps-3">
            <div class="d-flex justify-content-between">
              <div>
                <p class="text-sm mb-0">Ventas totales</p>
                <h4 class="mb-0">{{ totalSales }} EUR</h4>
              </div>
              <div class="col-auto d-flex align-items-center">
                <i class="fas fa-money-bill fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card border-left-danger">
          <div class="card-header p-2 ps-3">
            <div class="d-flex justify-content-between">
              <div>
                <p class="text-sm mb-0">Pedidos</p>
                <h4 class="mb-0">{{ totalOrders }}</h4>
              </div>
              <div class="col-auto d-flex align-items-center">
                <i class="fas fa-boxes fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="card border-left-warning">
          <div class="card-header p-2 ps-3">
            <div class="d-flex justify-content-between">
              <div>
                <p class="text-sm mb-0">Clientes totales</p>
                <h4 class="mb-0">{{ totalUsers }}</h4>
              </div>
              <div class="col-auto d-flex align-items-center">
                <i class="fas fa-user fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h6 class="mb-0 ">Productos más vendidos</h6>
            <div class="pe-2">
              <div class="chart">
                <canvas id="topProductsChart" width="400" height="200"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-4 mb-4">
        <div class="card ">
          <div class="card-body">
            <h6 class="mb-0 ">Pedidos en el último mes</h6>
            <div class="pe-2">
              <div class="chart">
                <canvas id="weeklyOrdersChart" width="400" height="200"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{{> partialsAdmin/footer }}
