                                    {{#usersWithReportedReviews}}
                                    <li class="list-group-item">
                                        <div class="d-flex flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center">
                                            <span>{{name}}</span>
                                            <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center mt-2 mt-sm-0 text-sm-right">
                                                <span class="badge badge-danger badge-pill mb-2 mb-sm-0 mr-sm-2">{{reports}} Avisos</span>
                                                <button class="btn btn-sm btn-outline-primary d-block d-sm-inline mb-2 mb-sm-0 mr-sm-2" 
                                                    data-toggle="collapse" data-target="#report{{name}}">
                                                    Ver reportes
                                                </button>
                                                <form action="/admin/users/ban/{{id}}" method="post">
                                                    <input type="hidden" name="_csrf" value="{{token}}" />
                                                    <button type="submit" class="btn btn-warning btn-rounded btn-sm d-block d-sm-inline">
                                                        <i class="fas fa-exclamation-triangle"></i> Banear
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                
                                    <div class="collapse mt-2 mb-3" id="report{{name}}">
                                        <ul class="list-group ml-3">
                                            {{#reviews}}
                                            {{#reported}}
                                            <li class="list-group-item d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center">
                                                <span class="report-text span-review text-start w-100">
                                                    <strong>ID del Producto: <span class="product-id">{{product.id}}</span></strong><br>
                                                    {{reviewText}}
                                                </span>
                                                <div class="report-actions report-btn d-flex mt-2 mt-md-0">
                                                    <form action="/admin/users/accept/{{id}}" method="post">
                                                        <input type="hidden" name="_csrf" value="{{token}}" />
                                                        <button type="submit" class="btn btn-success btn-sm me-2">
                                                            <i class="fas fa-check"></i> Aceptar
                                                        </button>
                                                    </form>
                                                    <form action="/admin/users/delete/{{id}}" method="post">´
                                                        <input type="hidden" name="_csrf" value="{{token}}" />
                                                        <button type="submit" class="btn btn-danger btn-sm">
                                                            <i class="fas fa-trash"></i> Eliminar
                                                        </button>
                                                    </form>
                                                </div>
                                            </li>
                                            {{/reported}}
                                            {{/reviews}}
                                        </ul>
                                    </div>
                                    {{/usersWithReportedReviews}}
                                    {{^hasMore}}
                                    <!-- true -->
                                    {{/hasMore}}