<!doctype html>
<html lang="en">

<head>

	<title>NOIR & BLANC Login</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../css/loginRegisterStyle.css">

</head>

<body>

	<!-- Navigation bar -->
	{{> login_register/navigationBar}}

	<!-- Login section -->
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="img" style="background-image: url(../../images/login.jpg);">
						</div>
						<div class="login-wrap p-4 p-md-5 order-2 order-md-1">
							<div class="login-wrap p-4 p-md-5">
								<div class="d-flex">
									<div class="w-100">
										<h3 class="mb-4">Inicia sesión</h3>
									</div>
								</div>

								<!-- Login form -->
								<form action="/login" method="POST" enctype="multipart/form-data" class="signin-form">
									<input type="hidden" name="_csrf" value="{{token}}" />
									<!-- Email -->
									<div class="form-group mb-3">
										<div class="label" for="email">E-mail</div>
										<input type="email" id="email" class="form-control" placeholder="E-mail"
											name="username">
										{{#errors.emailError}}
										<span class="text-danger small">{{errors.emailError}}</span>
										{{/errors.emailError}}
									</div>
									<!-- Password -->
									<div class="form-group mb-3">
										<div class="label" for="email">Contraseña</div>
										<div class="input-group">
											<input type="password" id="password-field" class="form-control"
												placeholder="Contraseña" name="password">
											<div class="input-group-append">
												<button class="btn btn-outline-secondary" type="button"
													id="toggle-password">
													<i class="fa fa-fw fa-eye field-icon"></i>
												</button>
											</div>
										</div>
										{{#errors.passwordError}}
										<span class="text-danger small">{{errors.passwordError}}</span>
										{{/errors.passwordError}}
									</div>
									<!-- Forgotten password -->
									<div class="form-group">
										<a class="form-password" href="#">¿Has olvidado tu contraseña?</a>
									</div>
									<!-- Buttons -->
									<div class="form-group">
										<button type="submit"
											class="form-control btn btn-primary rounded submit px-3">Iniciar
											sesión
										</button>
										<input type="hidden" name="_csrf" value="{{token}}" />
									</div>
									<div class="form-group">
										<a href="/register" class="form-control btn btn-white rounded submit px-3">Crear
											cuenta</a>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
	</section>

	<!-- Footer section -->
	{{> login_register/footer_user}}

	<!-- JavaScript files -->
	<script src="../../js/jquery.min.js"></script>
	<script src="../../js/popper.js"></script>
	<script src="../../js/bootstrap.min.js"></script>
	<script src="../../js/main.js"></script>

</body>

<script>

	// To be able to show or not the password
	document.addEventListener("DOMContentLoaded", function () {
		const togglePassword = document.getElementById("toggle-password");
		const passwordField = document.getElementById("password-field");
		const eyeIcon = togglePassword.querySelector("i");
		togglePassword.addEventListener("click", function () {
			if (passwordField.type === "password") {
				passwordField.type = "text";
				eyeIcon.classList.remove("fa-eye");
				eyeIcon.classList.add("fa-eye-slash");
			} else {
				passwordField.type = "password";
				eyeIcon.classList.remove("fa-eye-slash");
				eyeIcon.classList.add("fa-eye");
			}
		});
	});

</script>

</html>