<section id="hero">
  <div class="swiper slideshow">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let video of ['video3.webm', 'video2.webm', 'video1.webm']">
        <video autoplay loop muted playsinline class="w-100">
          <source [src]="'assets/videos/' + video" type="video/webm" />
          Tu navegador no soporta videos WebM.
        </video>
        <div class="container-fluid px-5 padding-large position-absolute top-50 start-50 translate-middle text-center">
          <h2 class="display-1 text-uppercase text-white mt-3">NOIR & BLANC</h2>
          <p class="text-capitalize text-white fs-5 mb-4">Elegancia atemporal, estilo sin esfuerzo</p>
          <a routerLink="/index" class="btn btn-outline-light btn-wrap">Comprar ahora</a>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-slideshow"></div>
  </div>
</section>


<section id="category" class="category1" style="overflow-x: hidden;">
  <div class="container-fluid">
    <div class="row">
      <ng-container *ngFor="let cat of categoryBlocks">
        <div class="container-fluid p-0">
          <div class="row">
            <div class="col-12 p-0">
              <div class="image-holder zoom-effect">
                <img [src]="cat.image" class="img-fluid w-100" style="max-height: 600px; object-fit: cover;">
                <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
                  <h3 class="text-light text-uppercase">{{ cat.name }}</h3>
                  <a [routerLink]="['/index/category', cat.name.toUpperCase()]" class="btn btn-light mt-3">Descubrir
                    más</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<section id="new-arrival" class="product-store">
  <div class="container-fluid px-3 px-md-5 padding-medium">
    <h2 class="display-5 fw-light text-uppercase text-center">
      {{ logged ? 'PRODUCTOS RECOMENDADOS' : 'TENDENCIAS' }}
    </h2>

    <div class="row justify-content-center py-4">
      <div *ngFor="let product of products" class="col-md-6 mb-4">
        <div class="row align-items-center">
          <div class="col-md-6 text-center">
            <img [src]="getProductImageUrl(product.id)" [alt]="product.name" class="img-fluid w-75">
          </div>
          <div class="col-md-4 text-md-start text-center mt-3 mt-md-0">
            <h2 class="fw-bold">{{ product.name }}</h2>
            <p class="fst-italic">denim collection <br> spring summer 2025</p>
            <a [routerLink]="['/index/elem_detail/', product.id]" class="btn btn-dark mt-3 px-4 py-2">Ver Detalles</a>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="logged && userId != null" class="text-center">
      <div *ngIf="loading" class="spinner-border" role="status">
        <span class="sr-only">Cargando...</span>
      </div>
      <button class="btn btn-loadMore" (click)="loadMoreRecommendedProducts()">Cargar más</button>
    </div>
  </div>
</section>

<section id="service" class="bg-light padding-medium">
  <div class="container">
    <div class="row g-md-5 pt-4">
      <div class="col-md-3 my-3" *ngFor="let service of services">
        <div class="card text-center">
          <iconify-icon class="service-icon text-black display-4 d-flex justify-content-center"
            [icon]="service.icon"></iconify-icon>
          <h4 class="text-uppercase py-3 m-0">{{ service.title }}</h4>
          <div class="card-text">
            <p class="blog-paragraph fs-6">{{ service.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
