<section id="hero">
  <div class="swiper slideshow">
    <div class="swiper-wrapper">

      <!-- Video 1 -->
      <div class="swiper-slide">
        <video autoplay loop muted playsinline class="w-100">
          <source src="/assets/videos/video3.webm" type="video/webm">
          Tu navegador no soporta videos WebM.
        </video>
        <div class="container-fluid px-5 padding-large position-absolute top-50 start-50 translate-middle text-center">
          <h2 class="display-1 text-uppercase text-white mt-3">NOIR & BLANC</h2>
          <p class="text-capitalize text-white fs-5 mb-4">Elegancia atemporal, estilo sin esfuerzo</p>
          <a href="#" class="btn btn-outline-light btn-wrap">Comprar ahora</a>
        </div>
      </div>

      <!-- Video 2 -->
      <div class="swiper-slide">
        <video autoplay loop muted playsinline class="w-100">
          <source src="/assets/videos/video2.webm" type="video/webm">
          Tu navegador no soporta videos WebM.
        </video>
        <div class="container-fluid px-5 padding-large position-absolute top-50 start-50 translate-middle text-center">
          <h2 class="display-1 text-uppercase text-white mt-3">NOIR & BLANC</h2>
          <p class="text-capitalize text-white fs-5 mb-4">Elegancia atemporal, estilo sin esfuerzo</p>
          <a href="#" class="btn btn-outline-light btn-wrap">Comprar ahora</a>
        </div>
      </div>

      <!-- Video 3 -->
      <div class="swiper-slide">
        <video autoplay loop muted playsinline class="w-100">
          <source src="/assets/videos/video1.webm" type="video/webm">
          Tu navegador no soporta videos WebM.
        </video>
        <div class="container-fluid px-5 padding-large position-absolute top-50 start-50 translate-middle text-center">
          <h2 class="display-1 text-uppercase text-white mt-3">NOIR & BLANC</h2>
          <p class="text-capitalize text-white fs-5 mb-4">Elegancia atemporal, estilo sin esfuerzo</p>
          <a href="#" class="btn btn-outline-light btn-wrap">Comprar ahora</a>
        </div>
      </div>

    </div>
    <div class="swiper-pagination swiper-pagination-slideshow"></div>
  </div>
</section>

<!-- FALTA HTML -->
