{{> partialsUser/header }}

<div class="preloader-wrapper">
  <div class="preloader">
  </div>
</div>

<section id="hero">
  <div class="swiper slideshow">
    <div class="swiper-wrapper">

      <!-- Video 1 -->
      <div class="swiper-slide">
        <video autoplay loop muted playsinline class="w-100">
          <source src="/videos/video3.webm" type="video/webm">
          Tu navegador no soporta videos WebM.
        </video>
        <div class="container-fluid px-5 padding-large position-absolute top-50 start-50 translate-middle text-center">
          <h2 class="display-1 text-uppercase text-white mt-3">NOIR & BLANC</h2>
          <p class="text-capitalize text-white fs-5 mb-4">Elegancia atemporal, estilo sin esfuerzo</p>
          <a href="#" class="btn btn-outline-light btn-wrap">Comprar ahora</a>
        </div>
      </div>

      <!-- Video 2 -->
      <div class="swiper-slide">
        <video autoplay loop muted playsinline class="w-100">
          <source src="/videos/video2.webm" type="video/webm">
          Tu navegador no soporta videos WebM.
        </video>
        <div class="container-fluid px-5 padding-large position-absolute top-50 start-50 translate-middle text-center">
          <h2 class="display-1 text-uppercase text-white mt-3">NOIR & BLANC</h2>
          <p class="text-capitalize text-white fs-5 mb-4">Elegancia atemporal, estilo sin esfuerzo</p>
          <a href="#" class="btn btn-outline-light btn-wrap">Comprar ahora</a>
        </div>
      </div>

      <!-- Video 3 -->
      <div class="swiper-slide">
        <video autoplay loop muted playsinline class="w-100">
          <source src="/videos/video1.webm" type="video/webm">
          Tu navegador no soporta videos WebM.
        </video>
        <div class="container-fluid px-5 padding-large position-absolute top-50 start-50 translate-middle text-center">
          <h2 class="display-1 text-uppercase text-white mt-3">NOIR & BLANC</h2>
          <p class="text-capitalize text-white fs-5 mb-4">Elegancia atemporal, estilo sin esfuerzo</p>
          <a href="#" class="btn btn-outline-light btn-wrap">Comprar ahora</a>
        </div>
      </div>

    </div>
    <div class="swiper-pagination swiper-pagination-slideshow"></div>
  </div>
</section>

<section id="category" class="category1" style="overflow-x: hidden;">
  <div class="container-fluid">
    <div class="row">

      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-12 p-0">
            <div class="image-holder zoom-effect">
              <img src="/images/Pantalones.webp" class="img-fluid w-100" style="max-height: 600px; object-fit: cover;">
              <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
                <h3 class="text-light text-uppercase">PANTALONES</h3>
                <a href="/index/category/PANTALONES" class="btn btn-light mt-3">Descubrir más</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-12 p-0">
            <div class="image-holder zoom-effect">
              <img src="/images/chaquetas.webp" class="img-fluid w-100" style="max-height: 600px; object-fit: cover;">
              <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
                <h3 class="text-light text-uppercase">CAMISETAS</h3>
                <a href="/index/category/CAMISETAS" class="btn btn-light mt-3">Descubrir más</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-12 p-0">
            <div class="image-holder zoom-effect">
              <img src="/images/ABRIGO.webp" class="img-fluid w-100" style="max-height: 600px; object-fit: cover;">
              <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
                <h3 class="text-light text-uppercase">ABRIGOS</h3>
                <a href="/index/category/ABRIGOS" class="btn btn-light mt-3">Descubrir más</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-12 p-0">
            <div class="image-holder zoom-effect">
              <img src="/images/LANDING-punto.webp" class="img-fluid w-100"
                style="max-height: 600px; object-fit: cover;">
              <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
                <h3 class="text-light text-uppercase">JERSEY</h3>
                <a href="/index/category/JERSEYS" class="btn btn-light mt-3">Descubrir más</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section id="new-arrival" class="product-store">
  <div class="container-fluid px-3 px-md-5 padding-medium">
    {{^logged}}
    <h2 class="display-5 fw-light text-uppercase text-center">TENDENCIAS</h2>
    <div class="row justify-content-center py-4">
      {{#products}}
      <div id="trendProducts" class="col-md-6 mb-4">
        <div class="row align-items-center">
          <div class="col-md-6 text-center">
            <img src="/image/{{id}}" alt="Pantalones en la silla" class="img-fluid w-75">
          </div>

          <div class="col-md-4 text-md-start text-center mt-3 mt-md-0">
            <h2 class="fw-bold">{{name}}</h2>
            <p class="fst-italic">denim collection <br> spring summer 2025</p>
            <a href="/index/elem_detail/{{id}}" class="btn btn-dark mt-3 px-4 py-2">Ver Detalles</a>
          </div>
        </div>
      </div>
      {{/products}}
      {{/logged}}

      {{#logged}}
    <h2 class="display-5 fw-light text-uppercase text-center">PRODUCTOS RECOMENDADOS</h2>
    <div id="recProducts" class="row justify-content-center py-4">
      {{#productsRecommended}}
      <div class="col-md-6 mb-4">
        <div class="row align-items-center">
          <div class="col-md-6 text-center">
            <img src="/image/{{id}}" alt="Pantalones en la silla" class="img-fluid w-75">
          </div>

          <div class="col-md-4 text-md-start text-center mt-3 mt-md-0">
            <h2 class="fw-bold">{{name}}</h2>
            <p class="fst-italic">denim collection <br> spring summer 2025</p>
            <a href="/index/elem_detail/{{id}}" class="btn btn-dark mt-3 px-4 py-2">Ver Detalles</a>
          </div>
        </div>
      </div>
      {{/productsRecommended}}
    </div>
    <div>
      <button type="button" id="loadMoreRecommendedProductsButton" class="btn btn-loadMore" onclick='loadMoreRecommendedProducts()'>Cargar más</button>
    </div>
    {{/logged}}
</section>

<section id="service" class="bg-light padding-medium">
  <div class="container">
    <div class="row g-md-5 pt-4">
      <div class="col-md-3 my-3">
        <div class="card">
          <div>
            <iconify-icon class="service-icon text-black display-4" icon="ci:shopping-cart-02"></iconify-icon>
          </div>
          <h4 class=" text-uppercase py-3 m-0">Envíos Gratis</h3>
            <div class="card-text">
              <p class="blog-paragraph fs-6">En toda la península Ibérica</p>
            </div>
        </div>
      </div>
      <div class="col-md-3 my-3">
        <div class="card">
          <div>
            <iconify-icon class="service-icon text-black display-4" icon="tdesign:secured"></iconify-icon>
          </div>
          <h4 class=" text-uppercase py-3 m-0">Pago Seguro 100%</h3>
            <div class="card-text">
              <p class="blog-paragraph fs-6">Tus compras están protegidas con nuestros métodos de pago cifrados y
                verificados.</p>
            </div>
        </div>
      </div>
      <div class="col-md-3 my-3">
        <div class="card">
          <div>
            <iconify-icon class="service-icon text-black display-4" icon="la:award"></iconify-icon>
          </div>
          <h4 class=" text-uppercase py-3 m-0">Garantía de Calidad</h3>
            <div class="card-text">
              <p class="blog-paragraph fs-6">Nos aseguramos de que cada producto cumpla con los más altos estándares
                de calidad.</p>
            </div>
        </div>
      </div>
      <div class="col-md-3 my-3">
        <div class="card">
          <div>
            <iconify-icon class="service-icon text-black display-4" icon="solar:dollar-outline"></iconify-icon>
          </div>
          <h4 class=" text-uppercase py-3 m-0">Ofertas Diarias</h3>
            <div class="card-text">
              <p class="blog-paragraph fs-6">Descubre descuentos exclusivos cada día y aprovecha nuestras promociones
                especiales.</p>
            </div>
        </div>
      </div>

    </div>
  </div>
</section>

{{> partialsUser/footer }}
