{{> partialsUser/header }}


<!-- Main Content -->
<main class="container-fluid">
  <section style="margin-top: 8rem;">
    <div class="px-4">
      <button type="button" id="backButton" class="btn btn-back" onclick="history.back()">
        ⬅ Volver
      </button>
    </div>
    <div class="container-fluid px-md-5">
      <div>
        <h2 class="display-5 fw-light text-uppercase text-center">{{category}}</h2>
      </div>
      <div id="products" class="row gx-4">
        {{#products}}
        <div class="col-md-6 col-lg-3 my-4">
          <div class="product-item text-center">
            {{#outOfStock}}
            <div class="image-holder">
              <img src="/image/{{id}}" alt="Producto 1" class="product-image img-fluid out-of-stock">
              <div class="out-of-stock-overlay">Sin Stock</div>
            </div>
            {{/outOfStock}}
            {{^outOfStock}}
            <div class="image-holder">
              <img src="/image/{{id}}" alt="Producto 1" class="product-image img-fluid">
            </div>
            {{/outOfStock}}
            <div class="product-detail mt-2">
              <h5 class="product-title">{{name}}</h5>
              <p>{{price}} EUR</p>
              <a href="/index/elem_detail/{{id}}" class="btn btn-outline-dark">Ver detalles</a>
            </div>
          </div>
        </div>
        {{/products}}
      </div>
      <div id="loading-spinner" class="d-none text-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Cargando...</span>
        </div>
      </div>
      <div>
        <button type="button" id="loadMoreButton" class="btn btn-loadMore" onclick='loadMore("{{category}}")'>Cargar
          más</button>
      </div>
  </section>
</main>

{{> partialsUser/footer }}
