<app-imports-admin />

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" [href]="chartsUrl">
      <div class="sidebar-brand-text mx-3 d-block">
        <p class="m-0">NOIR & BLANC</p>
      </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
      <a class="nav-link" [href]="chartsUrl">
        <i class="fas fa-chart-line"></i>
        <span>Estadísticas</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Gestión
    </div>

    <li class="nav-item">
      <a class="nav-link" [href]="usersUrl">
        <i class="fas fa-user"></i>
        <span>Usuarios</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [href]="ordersUrl">
        <i class="fas fa-box"></i>
        <span>Pedidos</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [href]="productsUrl">
        <i class="fas fa-tshirt"></i>
        <span>Productos</span>
      </a>
    </li>
  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-header-admin />
      <!-- End of Topbar -->

      <!-- Contenido de la vista -->
      <router-outlet></router-outlet>
    </div>
    <!-- End of Main Content -->

    <app-footer-admin />

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Selecciona "Aceptar" si estás preparado para cerrar la sesión activa.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        <a class="btn btn-primary" [href]="loginUrl">Aceptar</a>
      </div>
    </div>
  </div>
</div>
