{{> partialsUser/header }}

<section style="margin-top: 8rem;">
  <div class="container">
    <div class="hero-content text-center">
      <h1 class="mb-4" style="font-size: 2rem;">Mis pedidos</h1>
    </div>
    <div class="row">
      <div>
        <table class="table table-borderless table-hover table-responsive-md">
          <thead class="bg-light text-center">
            <tr>
              <th class="py-4 text-uppercase text-sm">Pedido</th>
              <th class="py-4 text-uppercase text-sm">Fecha</th>
              <th class="py-4 text-uppercase text-sm">Total</th>
              <th class="py-4 text-uppercase text-sm"></th>
            </tr>
          </thead>
          <tbody class="text-center">
            {{ #orders }}
            <tr>
              <th class="py-4 align-middle">{{ id }}</th>
              <td class="py-4 align-middle">{{ createdAt }}</td>
              <td class="py-4 align-middle">{{ totalPrice }} EUR</td>
              <td class="py-4 align-middle">
                <a class="btn btn-outline-dark btn-sm" href="/orders/{{id}}">Ver detalles</a>
              </td>
            </tr>
            {{ /orders }}
          </tbody>
        </table>
        <div>
          <b-pagination v-model="currentPage" :total-rows="ventas.length" :per-page="perPage"
            aria-controls="my-table"></b-pagination>
        </div>
      </div>
    </div>
  </div>
</section>

{{> partialsUser/footer }}
