{{> partialsUser/header }}

<!-- Main Content -->
<main class="container d-flex justify-content-center align-items-center vh-100">
  <section style="margin-top: 8rem;">
    <section id="category" class="category2 w-100" style="max-width: 500px;">
      <div class="card p-4 shadow">
        <!-- Profile form -->
        <div class="text-center">
          <h4>Editar perfil</h4>
        </div>
        <br>
        <form class="user">
          <div class="form-group">
            <label for="exampleFirstName">Nombre:</label>
            <input type="text" class="form-control" id="exampleFirstName" placeholder="First Name" value="Laura">
          </div>
          <div class="form-group">
            <label for="exampleLastName">Apellidos:</label>
            <input type="text" class="form-control" id="exampleLastName" placeholder="Last Name" value="López Martínez">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail">Correo electrónico:</label>
            <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email Address"
              value="laura.123@gmail.com">
          </div>
          <div class="form-group">
            <label for="exampleInputAddress">Dirección:</label>
            <input type="text" class="form-control" id="exampleInputAddress" placeholder="Address"
              value="C/Example Nº1 1ºA">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword">Contraseña:</label>
            <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password"
              value="password123">
          </div>
          <div class="form-group">
            <label for="inputFile">Seleccionar imagen Perfil:</label>
            <input type="file" class="form-control" id="inputFile" accept="image/*">
          </div>
          <br>
          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary px-3">Guardar cambios</button>
            <button type="reset" class="btn btn-secondary">Cancelar</button>
          </div>
        </form>
      </div>
    </section>
  </section>
</main>

{{> partialsUser/footer }}
