<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NOIR & BLANC ADMIN</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    

    <link rel="stylesheet" href="/css/custom.css">
</head>

{{^admin}}
{{> acces_error}}
{{/admin}}

{{#admin}}

<body id="page-top">

    </nav>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {{> admin/sidebar}}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {{> admin/topbar}}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body d-flex align-items-center">
                                    <div class="col">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1 text-custom-primary">
                                            Usuario totales
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{userCont}}
                                        </div>
                                    </div>
                                    <div class="col-auto d-flex align-items-center">
                                        <i class="fas fa-user fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body d-flex align-items-center justify-content-between">
                                    <div>
                                        <div class="text-xs font-weight-bold text-uppercase mb-1 text-custom-success">
                                            Usuarios activos
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">15.000</div>
                                    </div>
                                    <i class="fas fa-user-check fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Reportes pendientes
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalReportedReviews}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clock fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                Usuarios baneados
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{bannedUserCont}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-ban fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-lg-10">
                        <div class="card shadow mb-4">
                            <!-- Card Header -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-admin-title">Usuarios</h6>
                            </div>
                
                            <!-- Card Body -->
                            <div class="card-body">
                                <ul class="list-group">
                                    {{#users}}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>{{name}}</span>
                                        <div>
                                            <button class="btn btn-sm btn-outline-primary" data-toggle="collapse" data-target="#infoUser{{id}}">
                                                Ver información
                                            </button>                                            
                                        </div>
                                    </li>
                                    <div class="collapse mt-2 mb-3" id="infoUser{{id}}">
                                        <div class="card card-body d-flex flex-row flex-column-reverse flex-sm-row align-items-center">
                                            <div class="user-info-div">
                                                <strong>Nombre:</strong> {{name}}<br>
                                                <strong>Correo:</strong> {{email}}<br>
                                                <strong>Dirección:</strong> {{address}}<br>
                                            </div>
                                            <div class="mb-3">
                                            </div>
                                        </div>
                                    </div>
                                    {{/users}}
                                </ul>
                
                                <div class="mt-3 d-flex justify-content-center">
                                    <button class="btn btn-outline-primary mx-1" id="prevPage"
                                        disabled>Anterior</button>
                                    <span id="pageIndicator" class="mx-2 align-self-center">1</span>
                                    <button class="btn btn-outline-primary mx-1" id="nextPage">Siguiente</button>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-xl-12 col-lg-10">
                        <div class="card shadow mb-4">
                            <!-- Card Header -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-admin-title">Reseñas con reportes de Usuarios</h6>
                            </div>
                
                            <!-- Card Body -->
                            <div class="card-body">
                                <ul class="list-group">
                                    {{#usersWithReportedReviews}}  <!-- Iterar sobre la lista de usuarios con reseñas reportadas -->
                                    <li class="list-group-item">
                                        <div class="d-flex flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center">
                                            <span>{{name}}</span> <!-- Nombre del usuario -->
                                            <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center mt-2 mt-sm-0 text-sm-right">
                                                <span class="badge badge-danger badge-pill mb-2 mb-sm-0 mr-sm-2">{{reports}} Avisos</span>
                                                <button class="btn btn-sm btn-outline-primary d-block d-sm-inline mb-2 mb-sm-0 mr-sm-2" 
                                                    data-toggle="collapse" data-target="#report{{name}}">
                                                    Ver reportes
                                                </button>
                                                <form action="/admin/users/ban/{{id}}" method="post">
                                                    <button type="submit" class="btn btn-warning btn-rounded btn-sm d-block d-sm-inline">
                                                        <i class="fas fa-exclamation-triangle"></i> Banear
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                
                                    <div class="collapse mt-2 mb-3" id="report{{name}}">
                                        <ul class="list-group ml-3">
                                            {{#reviews}}
                                            {{#reported}}
                                            <li class="list-group-item d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center">
                                                <span class="report-text span-review text-start w-100">
                                                    <strong>ID del Producto: <span class="product-id">{{product.id}}</span></strong><br>
                                                    {{reviewText}}
                                                </span>
                                                <div class="report-actions report-btn d-flex mt-2 mt-md-0">
                                                    <form action="/admin/users/accept/{{id}}" method="post">
                                                        <button type="submit" class="btn btn-success btn-sm me-2">
                                                            <i class="fas fa-check"></i> Aceptar
                                                        </button>
                                                    </form>
                                                    <form action="/admin/users/delete/{{id}}" method="post">
                                                        <button type="submit" class="btn btn-danger btn-sm">
                                                            <i class="fas fa-trash"></i> Eliminar
                                                        </button>
                                                    </form>
                                                </div>
                                            </li>
                                            {{/reported}}
                                            {{/reviews}}
                                        </ul>
                                    </div>
                                    {{/usersWithReportedReviews}}
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-12 col-lg-10">
                        <div class="card shadow mb-4">
                            <!-- Card Header -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-admin-title">Usuarios baneados</h6>
                            </div>
                    
                            <!-- Card Body -->
                            <div class="card-body">
                                <ul class="list-group">
                                    {{#bannedUsers}}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>{{name}}</span>
                                        <div>
                                            <form action="/admin/users/unban/{{id}}" method="post">
                                                <button type="submit" class="btn btn-warning btn-rounded btn-sm d-block d-sm-inline">
                                                    <i class="fas fa-exclamation-triangle"></i> Desbanear
                                                </button>
                                            </form>
                                        </div>
                                    </li>
                                    {{/bannedUsers}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer section -->
            {{> admin/footer}}

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecciona "Aceptar" si estás preparado para cerrar la sesión activa.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="../login_register/login.html">Aceptar</a>
                </div>
            </div>
        </div>
    </div>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
  
</body>

<script>
    $(document).ready(function() {
    // Al hacer clic en el botón de toggle de la barra lateral
    $('#sidebarToggleTop').click(function(e) {
        e.preventDefault();
        // Toggle la clase "toggled" a la barra lateral
        $('#accordionSidebar').toggleClass('toggled');
        // Ajustar el contenido para no dejar hueco
        $('#content-wrapper').toggleClass('toggled');
    });
});
</script>

{{/admin}}

</html>