{{> partialsAdmin/header }}

<script>
    // To handle image upload and update preview
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('profileImage').addEventListener('click', function () {
            document.getElementById('imageUpload').click();
        });
        document.getElementById('imageUpload').addEventListener('change', function (event) {
            uploadImage(event);
        });
    });

    function uploadImage(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('profileImage').src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    }
</script>

<!-- Profile information -->
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="p-5">

                <!-- Profile form -->
                <form action="/admin/edit" method="post" enctype="multipart/form-data" class="user">
                    <input type="hidden" name="_csrf" value="{{token}}" />
                    <!-- Image -->
                    <div class="text-center">
                        {{#hasImage}}
                        <img src="/admin/profile/image" class="img-profile rounded-circle mb-4" alt="Profile Picture"
                            width="150" height="150" id="profileImage">
                        {{/hasImage}}
                        {{^hasImage}}
                        <img src="/images/noAdminImage.png" class="img-profile rounded-circle mb-4"
                            alt="Profile Picture" width="150" height="150" id="profileImage">
                        {{/hasImage}}
                        <br>
                        <label for="imageUpload" class="btn btn-primary btn-user">Seleccionar
                            Imagen</label>
                        <input type="file" id="imageUpload" name="imageUpload" accept=".jpg, .jpeg, .png"
                            style="display: none;">
                        <br><br>
                    </div>
                    <div class="form-group row">
                        <!-- Name -->
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input type="text" class="form-control form-control-user" id="name" name="name"
                                placeholder="Name" value="{{admin.name}}">
                            {{#errors.name}}
                            <span class="text-danger small">{{.}}</span>
                            {{/errors.name}}
                        </div>
                        <!-- Surname -->
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-user" id="surname" name="surname"
                                placeholder="Surname" value="{{admin.surname}}">
                            {{#errors.surname}}
                            <span class="text-danger small">{{.}}</span>
                            {{/errors.surname}}
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="form-group">
                        <input type="email" class="form-control form-control-user" id="email" name="email"
                            placeholder="Email" value="{{admin.email}}">
                        {{#errors.email}}
                        <p class="text-danger small">{{.}}</p>
                        {{/errors.email}}
                    </div>
                    <!-- Password -->
                    <div class="form-group row">
                        <div class="col-sm-4 mb-3 mb-sm-0">
                            <input type="password" class="form-control form-control-user" id="currentPassword"
                                name="currentPassword" placeholder="Contraseña actual">
                            {{#errors.password}}
                            <p class="text-danger small">{{.}}</p>
                            {{/errors.password}}
                            {{#errors.currentPassword}}
                            <p class="text-danger small">{{.}}</p>
                            {{/errors.currentPassword}}
                        </div>
                        <div class="col-sm-4">
                            <input type="password" class="form-control form-control-user" id="password" name="password"
                                placeholder="Nueva contraseña">
                            {{#errors.newPassword}}
                            <p class="text-danger small">{{.}}</p>
                            {{/errors.newPassword}}
                        </div>
                        <div class="col-sm-4">
                            <input type="password" class="form-control form-control-user" id="confirmPassword"
                                name="confirmPassword" placeholder="Confirmar nueva contraseña">
                        </div>
                    </div>
                    <hr>
                    <!-- Button (save) -->
                    <input type="submit" class="btn btn-primary btn-user btn-block" value="Guardar cambios" />
                </form>

                <!-- Button (cancel) -->
                <hr>
                <div class="text-center">
                    <a href="/admin/profile" class="text-center">Cancelar</a>
                </div>

            </div>
        </div>
    </div>
</div>

{{> partialsAdmin/footer }}
