{{#users}}
<li class="list-group-item d-flex justify-content-between align-items-center">
    <span>{{name}} {{surname}}</span>
    <div class="d-flex flex-column flex-sm-row mt-2">
        <button class="btn btn-sm btn-outline-primary custom-btn mb-2 mb-sm-0" data-toggle="collapse"
            data-target="#infoUser{{id}}">
            Ver detalles
        </button>
        <form action="/admin/user/delete/{{id}}" method="post">
            <input type="hidden" name="_csrf" value="{{token}}" />
            <button type="submit" class="btn btn-danger btn-rounded btn-sm ml-sm-2">
                <i class="fas fa-trash-alt"></i> Eliminar
            </button>
        </form>
    </div>
</li>
<div class="collapse mt-2 mb-3" id="infoUser{{id}}">
    <div class="card card-body d-flex flex-column flex-sm-row align-items-center">
        <div class="me-3">
            {{^hasImage}}
            <img src="/admin/user/image/{{id}}" class="img-profile rounded-circle" alt="Profile Picture" width="60"
                height="60" style="margin-right: 15px;" id="profileImage">
            {{/hasImage}}
            {{#hasImage}}
            <img src="/images/noAdminImage.png" class="img-profile rounded-circle" alt="Profile Picture" width="60"
                height="60" style="margin-right: 15px;" id="profileImage">
            {{/hasImage}}
        </div>
        <div class="user-info-div">
            <strong>Correo:</strong> {{email}}<br>
            <strong>Dirección:</strong> {{address}}<br>
        </div>
    </div>
</div>
{{/users}}

{{^hasMore}}
<!-- true -->
{{/hasMore}}