<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="../user/index.html">
        <div class="sidebar-brand-text mx-3"><sup>NOIR & BLANC</sup></div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="/admin/charts">
            <i class="fas fa-chart-line"></i>
            <span>Estadísticas</span></a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Gestión
    </div>
    <li class="nav-item">
        <a class="nav-link" href="/admin/users">
            <i class="fas fa-user"></i>
            <span>Usuarios</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/orders">
            <i class="fas fa-box"></i>
            <span>Pedidos</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/products">
            <i class="fas fa-tshirt"></i>
            <span>Productos</span>
        </a>
    </li>
</ul>

<script>
    $(document).ready(function () {
        $('#sidebarToggleTop').click(function (e) {
            e.preventDefault();
            $('#accordionSidebar').toggleClass('toggled');
            $('#content-wrapper').toggleClass('toggled');
        });
    });
</script>